<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="azureUserMapping">
      <h2 data-cy="azureUserMappingDetailsHeading">
        <span geniTranslate="genigatewayApp.genigatewayAzureUserMapping.detail.title"
          >Translation missing for genigatewayApp.genigatewayAzureUserMapping.detail.title</span
        >
      </h2>

      <hr />

      <geni-alert-error></geni-alert-error>

      <geni-alert></geni-alert>

      <dl class="row-md jh-entity-details">
        <dt>
          <span geniTranslate="genigatewayApp.genigatewayAzureUserMapping.id"
            >Translation missing for genigatewayApp.genigatewayAzureUserMapping.id</span
          >
        </dt>
        <dd>
          <span>{{ azureUserMapping.id }}</span>
        </dd>
        <dt>
          <span geniTranslate="genigatewayApp.genigatewayAzureUserMapping.azureObjectId"
            >Translation missing for genigatewayApp.genigatewayAzureUserMapping.azureObjectId</span
          >
        </dt>
        <dd>
          <span>{{ azureUserMapping.azureObjectId }}</span>
        </dd>
        <dt>
          <span geniTranslate="genigatewayApp.genigatewayAzureUserMapping.azureUpn"
            >Translation missing for genigatewayApp.genigatewayAzureUserMapping.azureUpn</span
          >
        </dt>
        <dd>
          <span>{{ azureUserMapping.azureUpn }}</span>
        </dd>
        <dt>
          <span geniTranslate="genigatewayApp.genigatewayAzureUserMapping.displayName"
            >Translation missing for genigatewayApp.genigatewayAzureUserMapping.displayName</span
          >
        </dt>
        <dd>
          <span>{{ azureUserMapping.displayName }}</span>
        </dd>
        <dt>
          <span geniTranslate="genigatewayApp.genigatewayAzureUserMapping.email"
            >Translation missing for genigatewayApp.genigatewayAzureUserMapping.email</span
          >
        </dt>
        <dd>
          <span>{{ azureUserMapping.email }}</span>
        </dd>
        <dt>
          <span geniTranslate="genigatewayApp.genigatewayAzureUserMapping.department"
            >Translation missing for genigatewayApp.genigatewayAzureUserMapping.department</span
          >
        </dt>
        <dd>
          <span>{{ azureUserMapping.department }}</span>
        </dd>
        <dt>
          <span geniTranslate="genigatewayApp.genigatewayAzureUserMapping.jobTitle"
            >Translation missing for genigatewayApp.genigatewayAzureUserMapping.jobTitle</span
          >
        </dt>
        <dd>
          <span>{{ azureUserMapping.jobTitle }}</span>
        </dd>
        <dt>
          <span geniTranslate="genigatewayApp.genigatewayAzureUserMapping.isActive"
            >Translation missing for genigatewayApp.genigatewayAzureUserMapping.isActive</span
          >
        </dt>
        <dd>
          <span>{{ azureUserMapping.isActive }}</span>
        </dd>
        <dt>
          <span geniTranslate="genigatewayApp.genigatewayAzureUserMapping.lastLogin"
            >Translation missing for genigatewayApp.genigatewayAzureUserMapping.lastLogin</span
          >
        </dt>
        <dd>
          <span>{{ azureUserMapping.lastLogin | formatMediumDatetime }}</span>
        </dd>
        <dt>
          <span geniTranslate="genigatewayApp.genigatewayAzureUserMapping.loginCount"
            >Translation missing for genigatewayApp.genigatewayAzureUserMapping.loginCount</span
          >
        </dt>
        <dd>
          <span>{{ azureUserMapping.loginCount }}</span>
        </dd>
        <dt>
          <span geniTranslate="genigatewayApp.genigatewayAzureUserMapping.createdAt"
            >Translation missing for genigatewayApp.genigatewayAzureUserMapping.createdAt</span
          >
        </dt>
        <dd>
          <span>{{ azureUserMapping.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt>
          <span geniTranslate="genigatewayApp.genigatewayAzureUserMapping.updatedAt"
            >Translation missing for genigatewayApp.genigatewayAzureUserMapping.updatedAt</span
          >
        </dt>
        <dd>
          <span>{{ azureUserMapping.updatedAt | formatMediumDatetime }}</span>
        </dd>
        <dt>
          <span geniTranslate="genigatewayApp.genigatewayAzureUserMapping.user"
            >Translation missing for genigatewayApp.genigatewayAzureUserMapping.user</span
          >
        </dt>
        <dd>
          <span>{{ azureUserMapping.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span geniTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/azure-user-mapping', azureUserMapping.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span geniTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
