todo-cloud-native/azure-container-apps-jhipster-generated/todo/maktodogateway/src/main/webapp/*
todo-cloud-native/azure-container-apps-jhipster-generated/todo/src/main/resources/config/tls/keystore.p12
