# enviornment variables for Azure CLI setup
setup-azure-infra/.env
create-custom-azure-roles/azure-roles/geni-admin-role.json
create-custom-azure-roles/azure-roles/geni-operator-role.json
create-custom-azure-roles/azure-roles/geni-site-manager-role.json
setup-azure-infra/.env-az-infra
