<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="geni-security-audit-log-heading"
        data-cy="SecurityAuditLogCreateUpdateHeading"
        geniTranslate="genigatewayApp.genigatewaySecurityAuditLog.home.createOrEditLabel"
      >
        Translation missing for genigatewayApp.genigatewaySecurityAuditLog.home.createOrEditLabel
      </h2>

      <div>
        <geni-alert-error></geni-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewaySecurityAuditLog.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewaySecurityAuditLog.userId" for="field_userId">User Id</label>
          <input type="text" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewaySecurityAuditLog.eventType" for="field_eventType"
            >Event Type</label
          >
          <select class="form-control" name="eventType" formControlName="eventType" id="field_eventType" data-cy="eventType">
            <option [ngValue]="null">{{ 'genigatewayApp.SecurityEventType.null' | translate }}</option>
            <option *ngFor="let securityEventType of securityEventTypeValues" [value]="securityEventType">
              {{ 'genigatewayApp.SecurityEventType.' + securityEventType | translate }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewaySecurityAuditLog.resourceType" for="field_resourceType"
            >Resource Type</label
          >
          <input
            type="text"
            class="form-control"
            name="resourceType"
            id="field_resourceType"
            data-cy="resourceType"
            formControlName="resourceType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewaySecurityAuditLog.resourceId" for="field_resourceId"
            >Resource Id</label
          >
          <input
            type="text"
            class="form-control"
            name="resourceId"
            id="field_resourceId"
            data-cy="resourceId"
            formControlName="resourceId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewaySecurityAuditLog.action" for="field_action">Action</label>
          <input type="text" class="form-control" name="action" id="field_action" data-cy="action" formControlName="action" />
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewaySecurityAuditLog.result" for="field_result">Result</label>
          <select class="form-control" name="result" formControlName="result" id="field_result" data-cy="result">
            <option [ngValue]="null">{{ 'genigatewayApp.SecurityResult.null' | translate }}</option>
            <option *ngFor="let securityResult of securityResultValues" [value]="securityResult">
              {{ 'genigatewayApp.SecurityResult.' + securityResult | translate }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewaySecurityAuditLog.timestamp" for="field_timestamp"
            >Timestamp</label
          >
          <div class="d-flex">
            <input
              id="field_timestamp"
              data-cy="timestamp"
              type="datetime-local"
              class="form-control"
              name="timestamp"
              formControlName="timestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span geniTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span geniTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
