<form *ngIf="azureUserMapping" name="deleteForm" (ngSubmit)="confirmDelete(azureUserMapping.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="azureUserMappingDeleteDialogHeading" geniTranslate="entity.delete.title">Confirm delete operation</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <geni-alert-error></geni-alert-error>
    <p
      id="geni-delete-azureUserMapping-heading"
      geniTranslate="genigatewayApp.genigatewayAzureUserMapping.delete.question"
      [translateValues]="{ id: azureUserMapping.id }"
    >
      Translation missing for genigatewayApp.genigatewayAzureUserMapping.delete.question
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span geniTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="geni-confirm-delete-azureUserMapping" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span geniTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
