<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="geni-azure-user-mapping-heading"
        data-cy="AzureUserMappingCreateUpdateHeading"
        geniTranslate="genigatewayApp.genigatewayAzureUserMapping.home.createOrEditLabel"
      >
        Translation missing for genigatewayApp.genigatewayAzureUserMapping.home.createOrEditLabel
      </h2>

      <div>
        <geni-alert-error></geni-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewayAzureUserMapping.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewayAzureUserMapping.azureObjectId" for="field_azureObjectId"
            >Azure Object Id</label
          >
          <input
            type="text"
            class="form-control"
            name="azureObjectId"
            id="field_azureObjectId"
            data-cy="azureObjectId"
            formControlName="azureObjectId"
          />
          <div
            *ngIf="
              editForm.get('azureObjectId')!.invalid && (editForm.get('azureObjectId')!.dirty || editForm.get('azureObjectId')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('azureObjectId')?.errors?.required"
              geniTranslate="entity.validation.required"
              >This field is required.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewayAzureUserMapping.azureUpn" for="field_azureUpn"
            >Azure Upn</label
          >
          <input type="text" class="form-control" name="azureUpn" id="field_azureUpn" data-cy="azureUpn" formControlName="azureUpn" />
          <div *ngIf="editForm.get('azureUpn')!.invalid && (editForm.get('azureUpn')!.dirty || editForm.get('azureUpn')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('azureUpn')?.errors?.required"
              geniTranslate="entity.validation.required"
              >This field is required.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewayAzureUserMapping.displayName" for="field_displayName"
            >Display Name</label
          >
          <input
            type="text"
            class="form-control"
            name="displayName"
            id="field_displayName"
            data-cy="displayName"
            formControlName="displayName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewayAzureUserMapping.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewayAzureUserMapping.department" for="field_department"
            >Department</label
          >
          <input
            type="text"
            class="form-control"
            name="department"
            id="field_department"
            data-cy="department"
            formControlName="department"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewayAzureUserMapping.jobTitle" for="field_jobTitle"
            >Job Title</label
          >
          <input type="text" class="form-control" name="jobTitle" id="field_jobTitle" data-cy="jobTitle" formControlName="jobTitle" />
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewayAzureUserMapping.isActive" for="field_isActive"
            >Is Active</label
          >
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewayAzureUserMapping.lastLogin" for="field_lastLogin"
            >Last Login</label
          >
          <div class="d-flex">
            <input
              id="field_lastLogin"
              data-cy="lastLogin"
              type="datetime-local"
              class="form-control"
              name="lastLogin"
              formControlName="lastLogin"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewayAzureUserMapping.loginCount" for="field_loginCount"
            >Login Count</label
          >
          <input
            type="number"
            class="form-control"
            name="loginCount"
            id="field_loginCount"
            data-cy="loginCount"
            formControlName="loginCount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewayAzureUserMapping.createdAt" for="field_createdAt"
            >Created At</label
          >
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewayAzureUserMapping.updatedAt" for="field_updatedAt"
            >Updated At</label
          >
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" geniTranslate="genigatewayApp.genigatewayAzureUserMapping.user" for="field_user"
            >Translation missing for genigatewayApp.genigatewayAzureUserMapping.user</label
          >
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span geniTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span geniTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
